streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
plotly==5.24.1
yfinance==0.2.43
GoogleNews==1.6.9
praw==7.8.1
python-dotenv==1.0.1
transformers==4.45.2
torch==2.4.1
nltk==3.9.1
joblib==1.4.2
scikit-learn==1.5.2
shap==0.46.0
